<div class="ps-3">
  <li>
    <i class="fa fa-home" style="font-size: 24px"></i>
    <a href="Home" style="text-decoration: none; color: #000">&nbsp;Home</a>
  </li>
  <li>
    <i class="material-icons">account_circle</i>
    <a href="#" style="text-decoration: none; color: #000">&nbsp;Profile</a>
  </li>
  <li>
    <i class="fa fa-address-book" style="font-size: 24px"></i>
    <a href="Shipmentform" style="text-decoration: none; color: #000"
      >&nbsp;Shipment Record</a
    >
  </li>
  <li>
    <i class="fas fa-file-alt" style="font-size: 24px"></i>
    <a
      data-bs-toggle="collapse"
      data-bs-target="#demo"
      style="text-decoration: none; color: #000; margin-left: 10px"
      >Cause&Action Data</a
    >
  </li>
  <div id="demo" class="collapse ps-5">
    <li>
      <a href="Action_Shipmentform" style="text-decoration: none; color: #000"
        >Add Action Data</a
      >
    </li>
    <li>
      <a href="Action" style="text-decoration: none; color: #000"
        >Action record</a
      >
    </li>
  </div>
  <li>
    <i class="fa fa-bar-chart-o" style="font-size: 24px"></i>
    <a href="Dashboard" style="text-decoration: none; color: #000"
      >&nbsp;Dashboard</a
    >
  </li>
  <li>
    <i class="fa fa-gear" style="font-size: 24px"></i>
    <a href="#" style="text-decoration: none; color: #000"
      >&nbsp;User management
    </a>
  </li>
  <hr />
  <li>
    <i class="fa fa-sign-out" style="font-size: 24px"></i>
    <a href="#" style="text-decoration: none; color: #000">Log out </a>
  </li>
</div>
