<head>
    <!DOCTYPE html>
    <lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <style>
         .sexy {
            background-image: linear-gradient(90deg, #005aa7 0%, #fffde4 100%);
         }

         a {
            color: #fff !important;
         }
    </style>

</head>

<body>
    <!--Nabar-->
    <section>
        <nav class="navbar navbar-expand-lg navbar-light sexy">
            <div class="container ">
              <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Shipment Form
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Final Verification
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
                            <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Dashboard & Summary
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                        </svg>
                    </a>
                  </li>
                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle bg-info" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
                            <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
                            <path d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item text-dark" href="#">Log out</a></li>

                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </section>
    <!-- couselrous-->
    <section>

    </section>
    
        <!--Body -->
    <section class="bg-info" style="background-image: url('https://cdn.pixabay.com/photo/2016/11/22/19/24/archive-1850170_1280.jpg')">
        <div class="container" style="background-image: url('')">
            <div class="card  " style="background-image: url('https://cdn.pixabay.com/photo/2018/02/17/14/15/template-3160023_1280.jpg')">
                <div class="card-header text-center text-info bg-secondary" style="background-image: url('')">
                    <h1>Discrepancy Shipment Form Record</h1>
                </div>
                <div  class="card-body" style="background-image: url('')">
                    <form Action='Addform' method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="card-header text-center text-success " style="background-color: #ccc">
                            <h4>Shipment Imformation</h4>
                        </div>     
                        <!-- 3 item per row-->
                        
                        <div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="">Area</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <select onchange="AreaCheck(this)" class="form-select" name="areaid">
                                        <option value="">Choose...</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <div>
                                        <label for="" class="form-label">Fight Number</label>
                                        <input type="text" id="" name="fightnumber" class="form-control" >
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="">Mode of Transportation</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <select class="form-select" name="modeoftransportationid" id="" >
                                        <option value="">Choose...</option>
                                        
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Forwarder</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="forwarder" rows="1"></input>
                                </div>
                                
                                <div class="col">
                                    <label for="" class="form-label">Shipper Name</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="shippername" rows="1"></input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Shipper Country</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="shippercountry" rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Customs Declaration Number</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="customs_declaration_number" rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Invoice number</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="invoice_number" rows="1"></input>
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Pick Ticket or Delivery note Number or PO number</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="" rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">MAWB / HAWB / Bill of Landing</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="mawb_hawb_bill_of_landing" rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Supplier Name</label>
                                    <input class="form-control" name="suppliername" rows="1"></input>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Part Number</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="partnumber" rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Invoice Quantity</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="invoice_quantity" rows="1"></input>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Unit price($)</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="unitprice_field" rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Total package</label>
                                    <input class="form-control" name="total_package" rows="1"></input>
                                </div>    
                            </div>
                        </div>
                        <br>
                        <div class="card-header text-center text-success " style="background-color: #ccc">
                            <h4>Discrepancy Information/ Concerning Person / Attachment</h4>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Date of incident</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input type="date" class="form-control" name="dateofincident" rows="1" ></input>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="">Type of Discrepancy</label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                
                                    <select onchange="noCheck(this);" class="form-select" name="typeofdiscrepancyid">
                                        <option value="">Choose...</option>
                                    
                                    </select>
                                </div>
                                <div class="col">
                                    <div>
                                        <!---->
                                        <label for="" class="form-label">OTHER_text</label>
                                        <input type="text" id="car" name="other_freetext" class="form-control" /><br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Detail of Discrepancy </label>
                                    <input class="form-control" name="detailofdiscrepancy"  rows="1"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Requester Name </label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="requestername" rows="1" placeholder="Email Address"></input>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Buyer Name </label>
                                    <span data-client-id="required_indicator" class="css-skcghl ekxsfat1" style="color:red" >*</span>
                                    <input class="form-control" name="buyer_name" rows="1" placeholder="Email Address"></input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label" for="">Shipping Documents</label>
                                    <input type="file" name="shipping_documents_fie" class="form-control" >
                                </div>
                                <div class="col">
                                    <label class="form-label" for="">Other_File </label>
                                    <input type="file" name="other_file" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--Transaction Log-->
                            <input class="form-control" name="submitby" rows="1" hidden </input>
                            <input class="form-control" name="submitdate" rows="1" value="" placeholder="YYYY-MM-dd" hidden></input>
                            <input class="form-control" name="processing_time" rows="1" hidden></input>
                            <input class="form-control" name="status" rows="1" hidden></input>
                            <input class="form-control" name="status1" rows="1" hidden></input>
                            <input class="form-control" name="status2" rows="1" hidden></input>
                            <input class="form-control" name="status3" rows="1" hidden></input>
                        </div>
                        <br>
                        <div class="card-body "  style="background-color: #ccc ;background-image: url('https://cdn.pixabay.com/photo/2016/07/12/13/37/crane-homes-1512044_1280.jpg')">
                            <div class="row">
                                <div class="col d-flex justify-content-start ">
                                    <a href="#" type="button" class="btn btn-warning ">Back</a>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <button type="button" class="btn btn-success">Save</button>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>    
                    <button onclick="window.print()">Print this page</button>
                    <br>
                    <div class="card-footer text-muted bg-light">
                    Datetime
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Footer-->
    <section>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" href="#">Western Digital</a>
        </div>
        <!-- Copyright -->
      </footer>
    </section>

    <!-- font awesome icon -->
    
     <!-- Bootsrap-Js-link-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>